@model TravelEntities.Entities.Hotel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HotelImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotelImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
